/* ------------------------------------------------- 
    이용안내 : 에잇포레 소개 페이지 
    
    notice_aboutus
   ------------------------------------------------- */

/* 에잇포레 소개페이지 서브타이틀 */

.content_title_sub {
  margin: 30px 0;
}

.title_aboutus {
  color: var(--aboutus);
}

.title_aboutus h2 {
  font-family: "Stardos Stencil", cursive;
  font-size: 5rem;
  margin: 0 20px 0 120px;
}

.title_aboutus > div {
  display: flex;
  align-items: center;
}

.title_aboutus .line {
  border-bottom: var(--aboutus) 1px solid;
  width: 100%;
}

.title_aboutus h4 {
  font-family: "Stardos Stencil", cursive;
  font-size: 3rem;
  margin: 0 140px 0 20px;
}

.keypoint {
  position: relative;
}

.keypoint p {
  position: absolute;
  top: 40px;
  left: 20px;
}

/* [공통] 에잇포레 소개페이지 콘텐츠 */

.content_aboutus {
  margin: 50px 0;
  position: relative;
}

.content_aboutus:last-child {
  margin: 50px 0 0;
}

.content_aboutus h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1em;
}

/* [공통]에잇포레 소개페이지 콘텐츠 리스트 */

/* 상단 */

.top {
  display: flex;
  align-items: flex-end;
}

.top h2 {
  font-family: "Stardos Stencil", cursive;
  font-size: 5rem;
}

.top h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8rem;
  text-align: left;
}

.top > div {
  width: 100%;
}

.top_left {
  padding-left: 10px;
}

.top_right {
  padding-left: 10px;
  text-align: right;
}

.top .line {
  border-bottom: #333 1px solid;
}

/* 하단 */

.bottom {
  position: relative;
}

.bottom_img {
  width: 100%;
  overflow: hidden;
}

.bottom_img img {
  width: 100%;
  height: auto;
  background-position: center;
}

.bottom_txt {
  padding-top: 10px;
}

.bottom_txt p span {
  font-weight: 400;
}

.graybox {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 200px;
  background-color: #eeeeee;
}

.english_right {
  width: 300px;
  text-align: right;
  position: absolute;
  top: 140px;
  right: -165px;
  transform: rotate(-90deg);
  color: #aaaaaa;
  font-weight: 100;
}

.english_left {
  width: 300px;
  text-align: right;
  position: absolute;
  transform: rotate(-90deg);
  top: 140px;
  left: -165px;
  color: #aaaaaa;
  font-weight: 100;
}

/* [오른쪽]에잇포레 소개페이지 콘텐츠 리스트 */

.aboutus_list_right {
  padding-right: 50px;
}

.aboutus_list_left {
  padding-left: 50px;
}

.top_right h3 {
  text-align: right;
}
