@charset "utf-8";

html {
    font-size: 62.5%; /* 10px */
    font-family: 'Pretendard-Regular';
}
/* 10px */

/* 여백초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 테이블선 중첩 */
table {
    border-collapse: collapse;
    width: 100%;
}

/* 목록스타일 초기화 */
ol, ul {
    list-style: none;
}

/* 하이퍼링크 초기화*/
a {
    text-decoration: none;
    color: #000;
    display: block;
}

/* 글자기울임 초기화*/
address, em, i {
    font-style: normal;
}

/* 폼그룹 테두리 없애기 */
fieldset, input {
    border: 0;
    vertical-align: middle;
}

/* 폼그룹명 숨기기 */
legend {
    display: none;
}


/* ==================================================
    1.Common 
   ==================================================
*/

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    font-size: 1.4rem;
}

#wrap {
    overflow: hidden;
    color: #000;
}

h1 img {
    height: 50px;
}

h2, h3 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

a, img {
    display: block;
}

i {
    font-size: 3rem;
}

button {
    display: block;
    width: 100%;
    background: none;
    border: 0;
}


/* ---------------------------------------- 
    [공통] css 효과 
   ---------------------------------------- */

   /* 정렬 */
   .spacebetween {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    /* 배경색 */
    .back_white {
        background-color: #fff;
    }

    .back_black {
        background-color: #000;
    }

    .back_gray {
        background-color: #eee;
    }

    /* 선색 */
    .bord_bottom_black {
        border-bottom: #000 1px solid;
    }

    .bord_bottom_gray {
        border-bottom: #d2d2d2 1px solid;
    }

    /* 버튼 */
        /* 하얀 버튼 */
        .btn > a {
            background-color: #fff;
            transition: background 0.4s;
            padding: 10px 0;
            text-align: center;
            border: #000 1px solid;
        }
        
        /* 까만 버튼 */
        .btn0 > a {
            padding: 10px 0;
            color: #fff;
            background: #000;
            text-align: center;
            border: #000 1px solid;
        }

        /* 짧은 버튼 */
        .btn_short {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        
            .btn_short .btn, 
            .btn_short .btn0 {
                width: calc(100%/3);
            }

        /* 긴 버튼 */
        .btn_long {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        
            .btn_long .btn, 
            .btn_long .btn0 {
                width: 100%;
            }

/* ==========================================================================
    2.Interactive
   ==========================================================================
*/

.inner {
    max-width: 700px;
    margin: 0 auto;
}

    @media (max-width:700px) {
        .inner {
            max-width: calc(100% - 30px);
        }
    }

/* 꽉 찬 속 */
.max_inner {
    margin: 0 auto;
    max-width: 700px;
}


/* ==========================================================================
    3.root 
   ==========================================================================
*/

:root {
    /* 색깔 */
    --positive: rgba(0, 102, 17, 0.2);
    --negative: rgba(129, 1, 1, 0.2);
    --possibble: green;
    --impossible: red;

    --yellowcolor : #E97E00;
    --yellowopacity : rgba(233,126,0,0.1);

    --black : #333333;

    --graylight : #f5f5f5;
    --graysemilight : #eeeeee;
    --graysemistrong : #d2d2d2;
    --graystrong : #aaaaaa;
    --graytypeB : #6B6B6B;

    --navgray : #aaaaaa;

    --aboutus : #41b1b9;

    /* 폰트사이즈 */
    --title : 2.4rem;
    --titlemain : 3rem;

    --largeicon : 3rem;

    --large: 2rem;
    --medium: 1.6rem;
    --small: 1.2rem;
}

/* ========== 끝 ========= */