/* ------------------------------------------------- 
    전체타입 리스트 : 룸타입, 실내시설, 야외시설 전체
    
    room / indoor / outdoor
   ------------------------------------------------- */

.content_list {
  padding: 30px 0;
  position: relative;
}

.go {
  position: absolute;
  top: 30px;
  right: 0;
}

.go_left {
  position: absolute;
  top: 30px;
  left: 0;
}

.content_list h3 {
  font-size: var(--titlemain);
}

.content_img {
  width: 100%;
}

.content_list .bi-arrow-right-short {
  font-size: 3rem;
}

/* ------------------------------------------------- 
    상세페이지 Btype 디자인

    others
   ------------------------------------------------- */

.title_others {
  display: flex;
  text-align: left;
  border-left: var(--yellowopacity) 15px solid;
}

.title_others h3 {
  font-size: 2.6rem;
  color: var(--yellowcolor);
}

.title_others p {
  font-size: 1.4rem;
  color: var(--graytypeB);
}

.title_others .border {
  margin-left: 6px;
  margin-right: 10px;
  border-left: var(--yellowcolor) 1px solid;
}

.type_others .btn {
  border: #aaaaaa 1px solid;
  padding: 6px 8px;
}

.type_others .btn a {
  border: 0;
  background-color: #f5f5f5;
  color: var(--graytypeB);
  padding: 5px 0;
  font-weight: 500;
}

.others_spec > ul {
  display: flex;
  border: #d2d2d2 1px solid;
  padding: 10px 20px;
}

.others_spec > ul > li {
  width: 50%;
}

.others_spec > ul > li:first-child p {
  font-family: "Cinzel", serif;
  font-size: var(--medium);
  padding: 2px 0;
  margin: 13px 0;
}

.others_spec > ul > li:nth-child(2) > p {
  padding: 2px 10px;
  margin: 15px 0;
  border-left: #f5f5f5 8px solid;
}

.others_notice {
  position: relative;
  color: var(--graytypeB);
  border: #d2d2d2 1px solid;
  margin: 30px 0;
}

.others_notice > div {
  padding: 20px;
}

.others_notice h4 {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #fff;
  font-size: var(--large);
  color: var(--graytypeB);
}

.others_notice p {
  padding: 5px 0;
}
