/* ---------------------------------------- 
    [공통] 각 상세페이지 : 타이틀 
   ---------------------------------------- */

.content_main {
  margin: 30px 0;
}

.content_title h3 {
  font-size: var(--titlemain);
}

.content_title p {
  padding: 10px 0;
}

/* ------------------------------------------------- 
      전체타입 리스트 : 룸타입, 실내시설, 야외시설 전체
      
      room / indoor / outdoor
     ------------------------------------------------- */

.content_list {
  padding: 30px 0;
  position: relative;
}

.go {
  position: absolute;
  top: 30px;
  right: 0;
}

.go_left {
  position: absolute;
  top: 30px;
  left: 0;
}

.content_list h3 {
  font-size: var(--titlemain);
}

.content_img {
  width: 100%;
  /* margin-top: 10px; */
}

.content_img img {
  width: 100%;
  height: auto;
}

.content_list .bi-arrow-right-short {
  font-size: 3rem;
}
