/* ====================================================
    4.Header 
   ====================================================
*/

#header {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.3);
    z-index: 9999;
}

#header h1 img {
    height: 50px;
}

.container {
    height: 50px;
    border-bottom: rgba(255,255,255,0.6) 1px solid;
}

.spacebetween {
    display: flex;
    width: 100%;
    justify-content: space-between;
}